<div class="col-12">
    <div class="offset-3 col-5 texto-presentacion-grande">
        <p>MUSIC COMPOSER & SOUND DESIGNER WITH EXPERIENCE ACROSS: BRAND, ADVERTISING & WEBDESIGN. CURRENTLY WORKING IN BILBAO CITY.</p>
    </div>
    <hr class="offset-3 col-5">
    <div class="offset-3 col-5 texto-presentacion-grande">
        <p>Find my free libraries on the following pages: <u>Youtube</u>, <u>Soundcloud</u> & <u>Mixcloud</u>. I also develop content for the platforms: <u>Artlist</u> & <u>Universal Music</u>.</p>
    </div>
    <hr class="offset-3 col-5">
    <div class="offset-3 col-5 texto-presentacion-mediano">
        <p>Iñigo Perez Is A Composer And Music Producer, Specialised In Visual Media Composing. Born In Bilbao, He Started To Grow An Interest In Music Very Soon. He Studied Percussion In The Conservatory Obtaining A Degree. He Also Plays Piano, Guitar And
            Bass. Later On, He Started To Be Interested In Music Production And Composition.</p>
    </div>
    <div class="offset-4 col-5 texto-presentacion-mediano">
        <p>
            Big Fan Of Technology And Education, He Studied A Degree On Telecommunication Engineering And A Master In Education. Iñigo Has Experience In Composition And Production Of Commercials, Short Films And Videogames.
        </p>
    </div>
</div>