<footer class="footer overflow-auto pm-5 ">
    <div class="container col-12  row">
        <div class="offset-sm-3 col-l-3 pt-4 pl-5">
            <input type="mail" class="form-control mt-1" placeholder="Your Email...">
        </div>
        <div>
            <span class="go-button mb-4 ml-2 mt-4">Go</span>
        </div>
        <div class="align-content-center mt-4">
            <ul class="footer-list">
                <li>
                    About us
                </li>
                <li>
                    Contact
                </li>
                <li>
                    Term & conditions
                </li>
            </ul>
        </div>
        <div class="aling-content-end mt-4">
            <ul class="footer-list">
                <li>
                    Facebook
                </li>
                <li>
                    Instagram
                </li>
                <li>
                    Twitter
                </li>
            </ul>
        </div>
    </div>

</footer>